@import url("./css/01-tokens.css");
@import url("./css/02-reset.css");
@import url("./css/03-base.css");
@import url("./css/04-reader.css");
@import url("./css/05-float-ui.css");
@import url("./css/06-reader-extras.css");
@import url("./css/07-menu.css");
@import url("./css/08-progress.css");
@import url("./css/09-bookmark.css");
@import url("./css/10-modal.css");
@import url("./css/11-library.css");
@import url("./css/12-history.css");
@import url("./css/13-search.css");
@import url("./css/14-settings.css");
@import url("./css/15-responsive.css");
@import url("./css/16-candidate.css");
@import url("./css/17-loading.css");
@import url("./css/18-float-lang.css");
@import url("./css/19-zoom.css");
